.logo {
  .index_picture {
    width: 550px;
    height: 300px;
    float: left;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .point_image {
    width: 750px;
    height: 300px;
    float: left;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .index_description, .show_description{
    float: left;
    > *{
      margin-left: 20px;
    }
  }
}

.places {
  background: red;
  padding: 10px;
  .place {
    background: black;
    color: white;
    float: left;
    margin: 1%;
    width: 31%;
    .content {
      padding: 5px;
      .place_name{
        font-weight: bold;
        font-size: 18px;
        margin-top: 5px;
      }
      .picture {
        width: 300px;
        height: 300px;
        margin: 0px auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


