<div class="logo clearfix">
	<div class="index_picture">
        <%= link_to root_path, title: "Ir para a homepage" do %>
          <%= image_tag(@index_image)%>
        <% end %>
	</div>
    <div class="index_description">
      <h1>Lugares</h1>
      <p>Aqui pode ir uma descrição para falar sobre o site</p>
    </div>
</div>
<div class="places clearfix">
  <% @places.each do |place| %>
    <div class="place">
      <div class="content">
		<div class="picture">
          <%= link_to place do %>
            <%= image_tag(place.pictures.first.directory_url)%>
          <% end %>
		</div>
        <p class="place_name"><%= link_to place.name, place_path(place) %></p>
      </div>
    </div>
  <% end %>
</div>
