<div class="logo clearfix">
	<div class="point_image">
      <%= link_to root_path, title: "Ir para a homepage" do %>
        <%= image_tag(@place.pictures.order("RANDOM()").first.directory_url) %>
      <% end %>
	</div>
      <div class="show_description">
        <h1><%= @place.name %></h1>
      </div>
</div>
<div>
  <p>
    <strong>Endereço: </strong>
    <%= @place.address.titleize %>
  </p>
  <p>Descrição:</p>
  <%= simple_format @place.description %>
  <% if @place.latitude.present? %>
    Pode exibir o mapa, em <%= @place.latitude %>,<%= @place.longitude %>
  <% end %>
  <% @place.pictures.each do |picture| %>
    <div>
      <%= image_tag picture.directory_url, alt: @place.name %>
    </div>
  <% end %>
</div>
